
.widget {
  margin: 4rem;
  max-width: 40rem;
  border: 2px solid #00576b;
  display: inline-block;
  vertical-align: top; }
  .widget .heading {
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #00576b; }
  .widget .body {
    padding: 2rem;
    color: #00576b; }
    .widget .body .group {
      color: #439681;
      font-weight: 600; }
      .widget .body .group:not(:first-child) {
        margin-top: 2rem; }
    .widget .body label.control-label {
      font-weight: 400;
      color: #00576b; }
    .widget .body input.form-control, .widget .body span.input-group-addon {
      border-color: #00576b; }
    .widget .body [class^=col-] {
      margin: 2px auto; }
  .widget.spend-less .tagline {
    text-align: center; }
  .widget.spend-less .saving {
    text-align: center;
    font-weight: 600; }
    .widget.spend-less .saving .saving-amount {
      color: #69ba08; }
  .widget.spend-less .find-ways-to-save {
    text-align: center;
    margin: 1rem 3rem;
    padding: 1rem 1rem;
    border: 1px solid #69ba08;
    border-radius: 5px; }
    .widget.spend-less .find-ways-to-save a {
      font-weight: 600;
      color: #69ba08; }
      .widget.spend-less .find-ways-to-save a:hover {
        text-decoration: none; }
      .widget.spend-less .find-ways-to-save a:focus {
        text-decoration: none;
        outline: none; }
  .widget.spend-less .feedback {
    text-align: right; }
    .widget.spend-less .feedback span {
      margin-right: 1rem; }
      .widget.spend-less .feedback span.glyphicon {
        font-size: 22px; }
        .widget.spend-less .feedback span.glyphicon:hover {
          cursor: pointer; }
        .widget.spend-less .feedback span.glyphicon.like {
          color: #69ba08; }
        .widget.spend-less .feedback span.glyphicon.dislike {
          color: #00576b; }
